:root {
  --border-clr: #ddd;
  --borderhl-clr: #aaa;
  --comment-hl-bg: #cdf;
  --comment-op-bg: #eee;
  --comment-user-bg: #fff0c0;
  --input-fg: #111;
  --input-bg: #fff;
  --input-border: #ccc;
  --light-bg: #eeeef2;
  --light2-bg: #dddddf;
  --link-fg: #128;
  --link2-fg: #000;
  --linkv-fg: #24a;
  --menuhl-bg: #7f3f00;
  --meta-fg: #888;
  --page-bg: #fff;
  /* --page-fg: #111; */
  --page-font: 15px;
  --shade1-bg: #ff7a64 !important;
  --shade2-bg: #ff7a64 !important;
  --shade3-bg: #ff7a64 !important;
  --shadow-bg: #888;
  --tag-fg: #fff;
  --tooltip-clr: #888;
  --tooltip-arrow-b: url(/files/images/tooltip-arrow-bottom.png?v=2);
  --tooltip-arrow-t: url(/files/images/tooltip-arrow-top.png?v=2);
  --titlehl-fg: #a31;
  --votedown-bg: #fff0f0;
  --votedown-fg: #800;
  --voteup-bg: #f0fff0;
  --voteup-fg: #080;

  /* custom */
  --page-fg: #242430 !important;
  --page-bg: white;
  --primary-theme: #ff7a64;
  --secondary-theme: #ffef6b;
  --highlight: #ff83b7;
  --backdrop: #305555;

  --border: 3px solid #ddd;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif !important;
}

body > main {
  border-top: 2px solid var(--primary-theme);
}

/* MAIN HEADER */

#header {
  box-shadow: none !important;
  form.search {
    padding: 7px;
    border: var(--border);
  }
  form.search input {
    padding: 4px;
  }
  div.wrap {
    height: 100px;
  }
}

#menu > li div.menuitem > a {
  padding: 15px 20px !important;
  background-color: var(--primary-theme) !important;
  font-size: 20px !important;
  color: var(--page-fg) !important;
}

#menu > li.active div.menuitem > a {
  background-color: var(--primary-theme) !important;
  &:hover {
    color: white !important;
  }
}

/* SECOND HEADER */

#header2nd {
  box-shadow: none !important;
  background-color: var(--primary-theme) !important;
  padding-bottom: 30px !important;
  div.wrap {
    background-color: var(--primary-theme) !important;
    font-size: 16px;
    font-weight: bold;
    ul {
      width: 100%;
    }
  }
}

#header2nd div.wrap ul li a:hover {
  transition: 0.2s;
  background-color: transparent;
  color: var(--page-fg);
}

#header2nd div.wrap ul a {
  padding: 15px;
}

/* LISTING NODES */

.wrap .main div.node-teaser {
  padding: 30px 20px;
  max-width: 900px;
  background-color: white !important;
  border-bottom: var(--border);
  border-top: none;
}

span.nvb.voteup,
span.nvb.votedown {
  border-radius: 0 !important;
  font-weight: bold;
}
span.nvb {
  border-width: 2px !important;
}

.foxshot-container a {
  border: none !important;
}

.wrap .main div.node-teaser a {
  color: var(--page-fg) !important;
  font-weight: bold;
  &:hover {
    color: var(--primary-theme) !important;
  }
}

/* SIDEBAR */

#sidebar {
  .blocktitle {
    font-size: 36px;
    color: var(--page-fg);
    background-color: transparent;
  }
  .blockcontent {
    border: none;
    .ozblist > li {
      border: none;
      background-color: white;
      padding: 20px 10px;
      border-bottom: var(--border);
    }
  }
}

/* HEADINGS */

h1 {
  font-weight: bold !important;
}

h2.section {
  color: var(--page-fg) !important;
  border-bottom: none !important;
  font-size: 36px !important;
  text-transform: none !important;
  &:not(:first-of-type) {
    margin-top: 80px;
  }
}

/* TIPS */

.wikipage {
  border: none;
  color: white;
  background-color: var(--page-fg);
  a {
    color: var(--primary-theme);
    font-weight: bold;
    &:hover {
      color: var(--secondary-theme);
    }
  }
  strong:first-child {
    font-size: 16px;
    color: var(--secondary-theme);
  }
}

/* FRONT PAGE SETTINGS */
.frontpage-settings {
  a {
    font-size: 20px !important;
    color: white !important;
    font-weight: bold;
  }
}

/* ADS */
.ads,
.adstop,
.ads.adslisting,
.ads.adslistingz,
.ads.adsbillboard {
  display: none !important;
}

/* MENU POP UP */
.menupopup {
  border-radius: 4px;
  border: var(--border) !important;
}

/* My own classes and tags */
.colored-bg {
  background-color: var(--primary-theme);
  height: 20vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}
